.nav {
  grid-area: navbar;
  background-color: sandybrown;
  padding: 20px;
}

.item {
  color: white;
  text-decoration: none;
}

.active {
  color: tomato;
}

.head {
  text-align: center;
}

.name {
  display: table-cell;
  text-align: center;
}

.friends img {
  width: 50%;
}

.caption {
  display: block;
}
