.descriptionWrapper {
  display: grid;
  padding: 10px;
}

.photo {
  grid-column: 1;
  grid-row: 1;
}

.photo img {
  width: 70%;
}

.file {
  grid-column: 1;
  grid-row: 2;
}

.descriptionContent {
  grid-column: 2;
}