.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas: 
  "header header"
  "navbar content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: header;
  background-color: rgb(131, 160, 81);
}

.header img {
  width: 5%;
}

.nav {
  grid-area: navbar;
  background-color: sandybrown;
}

.content {
  grid-area: content;
  background-color: bisque;
}